server:
  port: 8084

spring:
  application:
    name: config

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8080/eureka/
spring:
  cloud:
    config:
      uri: http://localhost:8084
